@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');


html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
}

[data-scroll-container] {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: max-content; /* important for horizontal */
}

@media (max-width: 1024px) {
  [data-scroll-container] {
    flex-direction: column;
    width: 100%;
  }
}

